apiVersion: v1
preferences: {}
kind: Config

clusters:
- cluster:
    server: ${aws_eks_cluster_endpoint}
    certificate-authority-data: ${aws_eks_cluster_ca_data_base64}
  name: ${aws_eks_cluster_name}

contexts:
- context:
    cluster: ${aws_eks_cluster_name}
    user: cluster-admin
  name: ${aws_eks_cluster_name}

current-context: ${aws_eks_cluster_name}

users:
- name: cluster-admin
  user:
    exec:
      apiVersion: "client.authentication.k8s.io/v1beta1"
      command: "aws"
      args:
      - "eks"
      - "get-token"
      - "--cluster-name"
      - "${aws_eks_cluster_name}"
      - "--output"
      - "json"
%{ if length(aws_authenticator_env_variables) > 0 }
      env:
  %{~ for k, v in aws_authenticator_env_variables ~}
        - name: ${k}
          value: ${v}
  %{~ endfor ~}
%{ endif }